"survey-imagery @ git+https://github.com/crieck2010/survey-imagery.git"
"survey-change @ git+https://github.com/crieck2010/survey-change.git"
"survey-monitor @ git+https://github.com/crieck2010/survey-monitor.git"
"survey-alerts @ git+https://github.com/crieck2010/survey-alerts.git"
"survey-license @ git+https://github.com/crieck2010/survey-license.git"
"survey-vegetation @ git+https://github.com/crieck2010/survey-vegetation.git"
"survey-flood @ git+https://github.com/crieck2010/survey-flood.git"
"survey-burn @ git+https://github.com/crieck2010/survey-burn.git"
"survey-coast @ git+https://github.com/crieck2010/survey-coast.git"
"survey-thermal @ git+https://github.com/crieck2010/survey-thermal.git"
"survey-3d @ git+https://github.com/crieck2010/survey-3d.git"
"survey-sites @ git+https://github.com/crieck2010/survey-sites.git"
